.page-list{
    padding: 8px;
    width: 1018px;
    position: relative;
    top: 5px;
}
.pokemon-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
}